@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RESPUESTAS</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Respuestas Encuesta","Index","RESPUESTAs")</h2>
        <p>
            Ingrese Sus Respuestas a la encuesta a su selección
        </p>
    </div>
    </div>